@font-face {
    font-family: 'TT Hoves';
    src: url(./fonts/TTHoves-Regular.woff);
    font-style: normal;
}
@font-face {
    font-family: 'TT Hoves Demibold';
    src: url(./fonts/TTHoves-DemiBold.woff);
    font-style: normal;
}
@font-face {
    font-family: 'TT Hoves medium';
    src: url(./fonts/TTHoves-Medium.woff);
    font-style: normal; 
}
@font-face {
    font-family: 'TT Hoves regular';
    src: url(./fonts/TTHoves-Regular.woff);
    font-style: normal; 
}
body {
    font-family: 'TT Hoves Demibold';
}
section, header, footer {
    padding: 0px calc(5.7vw + -2.2px);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000929;
}

/*hamburger*/

input[type = "checkbox"].checkbtn {
    display: none;
}
#menu_header {
    width: 30px;
    height: 30px;
}
label.checkbtn {
    cursor: pointer;
}
nav {
    display: none;
   }
.checkbtn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
   }
.nav-mobile {
    display: none;
   }
#check:checked ~ .nav-mobile {
    display: block;
   }
.nav-mobile {
    position: absolute;
    padding: 15px;
    left: 20px;
    background: white;
    border-radius: 16px;
    z-index: 1;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   }
.nav-mobile ul {
    margin-bottom: 20px;
   }
.nav-mobile li {
    color: #0A112F;
    padding: 5px;
    display: block;
   }
.howWork2,.company_footer2,.solution2,.resourses2{
    font-family: 'TT Hoves medium';
    font-size: 16px;
    color: #9096A2;
    list-style: none;
}
.menu_learn {
    font-size: 20px;
    color: #3981F7;
}
.howWork2_,.company_footer2_,.solution2_,.resourses2_ {
    font-size: 20px;
    color:#3981F7;
}

/*first screen*/

.first_page {
    padding-bottom: calc(4.6vw + 22.1px); /*88 - 40*/
}
header {
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
header span {
    font-size: calc(0.4vw + 12.5px); /*18 - 14*/
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content p {
    margin-bottom: 24px;
    font-family: 'TT Hoves medium';
    font-size: 16px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 16px;
    padding: 20px 16px 1px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.btn_header {
    display: flex;
    align-items:center;
    gap: 8px;
}

.learn_header {
    width: 144px;
    height: 48px;
    border: 0px;
    border-radius: 100px;
    font-size: calc(0.4vw + 12.5px); /*18 - 14*/
    font-family: 'TT hoves demibold';
}
.menu {
    display: flex;
    gap: 48px;
}

.login {
    display: flex;
    align-items: center;
    gap: calc(0.8vw + 13px); /*24 -20*/
}
h1 {
    font-size: calc(6.9vw + 1.2px);
    text-align: center;
    width: calc(57.1vw + 127.1px);
    margin-bottom: calc(0.4vw + 18.5px); /*24 -20*/
}
.freelancers {
    color: #3981F7;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(1px + 26.2px); 
}
.subtitle {
    font-size: calc(0.8vw + 13px);
    font-family: 'TT hoves medium';
    text-align: center;
}
.learn {
    background-color:#0A112F;
    color: white;
    width: calc(6.4vw + 99.1px); /*191 - 124*/
    height: calc(2.3vw + 47px); /*80 - 56*/
    border-radius: 100px;
    font-size: calc(0.8vw + 13px);
    font-family: 'TT hoves demibold';
}
.button_learn {
    display: flex;
    flex-direction: column;
    gap: calc(1.3vw + 12.8px); /*32 - 18*/
}
.learn {
    align-self: center;
}
.button_learn div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.button_learn img {
    width: 24px;
    height: 24px;
}

/*second screen*/

.second_screen {
    padding-bottom: calc(4.6vw + 22.1px) 0px; /*88 - 40*/
}
.Dashboard img {
    width: calc(88.6vw + 4.5px);
}

/*third screen*/

h2 {
    font-size: calc(5.7vw + -2.2px); /*80 - 20*/
    text-align: center;
}
.third_title {
    width: calc(47.6vw + 14.2px); /*700 - 200*/
    margin-bottom: calc(6.2vw + -9.1px); /*80 - 15*/
}
.third_title span {
    color: #3981F7;
}
.third_screen {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: calc(5.7vw + 37.7px); /*120 - 60*/
    padding-bottom: calc(5.7vw + 37.7px); /*120 - 60*/;
}
.companies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(7.4vw + 1px); /*108 - 30*/
}
/*forth screen*/

.forth_screen {
    padding-top: calc(5.7vw + 37.7px); /*120 - 60*/
    padding-bottom: calc(5.7vw + 37.7px); /*120 - 60*/;
}
.blue {
    color: #3981F7;
}
.forth_screen h2 {
    width: calc(40vw + 84px); /*660 - 240*/
    margin-bottom: calc(0.4vw + 18.5px);  /*24 - 20*/
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forth_screen img{
    width: calc(88.6vw + 4.5px);
}
.subtitle2 {
    font-size: calc(0.6vw + 11.7px); /*20 - 14*/
    font-family: 'TT hoves medium';
    text-align: center;
    font-weight: 500px;
    color: #44444B;
    width: calc(40vw + 84px); /*660 - 240*/
}

/*fifth screen*/

.fifth_screen {
    padding-top: calc(5.7vw + 37.7px); /*120 - 60*/
    padding-bottom: calc(-0.1vw + 298px); /*120 - 250*/;
    position: relative;
}
.hire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(4.6vw + 22.1px); /*88 - 40*/
}
.fifth_screen h2 {
    margin-bottom: calc(0.4vw + 18.5px);  /*24 - 20*/
}
#map {
    width: calc(67.6vw + 86.2px);
}
.map_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*card*/

.card {
    background: #0A112F;
    border-radius: 16px;
    padding: 40px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
    height: 356px;
    position: relative;
}
.name {
    font-size: 32px;
    align-items:center;
    color: white; 
    margin-bottom: 9px;
}
.location span{
    font-size: 20px;
    color: #9096A2;
}
.line {
    border: 1px solid #404D63;
    width: 260px;
    margin: 32px 0px;
}
.roleAndRate {
    display: flex;
    gap: 38px;
    margin-bottom: 32px;
}
.role span {
    color: #9096A2;
    font-size: 16px;
}
.role {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.briefcase span {
    color: white;
    font-size: 20px;
}
.rate span {
    color: #9096A2;
    font-size: 16px;
    margin-bottom: 4px;
}
.dollar span {
    color: white;
    font-size: 20px;
}
.rate {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.hire_btn {
    color: #0A112F;
    font-size: 16px;
    font-family: 'TT Hoves demibold';
    background-color: white;
    width: 260px;
    height: 48px;
    border: none;
    border-radius: 16px
}

.flag {
    position: absolute;
    top: -30px;
    right: -40px;
}
.full_card {
    position: absolute;
    left: calc(67.7vw + -231px); /*744 - 33*/
    top: calc(15.7vw + 318px); /*545 - 380*/
}

/*sixth screen*/

.sixth_screen {
    padding-top: calc(5.7vw + 37.7px); /*120 - 60*/
    padding-bottom: calc(5.7vw + 37.7px); /*120 - 60*/;
}

.send_full {
    box-shadow: 0px 36px 52px 0px #00000008;
    padding: calc(5.1vw + -10px) 0px calc(5.1vw + -10px) calc(5.1vw + -10px);
    border-radius: 24px;
}

.title_sixth h2 {
    width: calc(40vw + 84px); /*660 - 240*/
}
.title_sixth span {
    width: calc(40vw + 84px); /*660 - 240*/
}
.title_sixth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(4vw + 14.4px);
}

/*card first slide*/

.card_pay {
    padding: calc(0.8vw + 13px); /*24 - 16*/
    width: calc(8.4vw + 317px); /*438 - 350*/
    height: 260px;
    border-radius: 16px;
    border: solid 1px #E7EAEE;
}
.calendar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.calendar span {
    font-size: 16px;
    opacity: 50%;
}
.first_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.price {
    margin-left: calc(4.6vw + -17.8px); /*48 - 0*/
    gap: 16px;
    display: flex;
    align-items: center;
    width: 103px;
    height: 28px;
    margin-bottom: calc(1.4vw + -0.5px); /*20 - 5*/
}
.cost {
    font-family: 'TT Hoves medium';
    font-size: calc(1.3vw + 12.8px); /*32 - 18*/
}
.cost span {
    font-size: calc(0.8vw + 13px); /*24 - 16*/
    opacity: 50%;
}
.pending {
    display: flex;
    gap: 8px;
    padding: 4px 12px;
    background-color: #FEF6EB;
    border-radius: 100px;
    align-items: center;
}
.pending span {
    color:#FAA745;
    font-size: 14px;
    font-family: 'TT Hoves medium';
}
.client {
    border: 1px solid #E7EAEE;
    border-radius: 16px;
    padding: 16px;
    margin-left: calc(4.6vw + -17.8px); /*48 - 0*/
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'TT Hoves medium';
}
.client_title {
    opacity: 50%;
    font-size: 16px;
}
.avatar_name {
    display: flex;
    align-items: center;
    gap: calc(1vw + 0.9px); /*16 - 5*/
}
.job {
    font-size: 14px;
    opacity: 50%;
}
.name_job {
    display: flex;
    flex-direction: column;
    min-width: calc(5.7vw + 37.7px); /*120 - 60*/
}
.send {
    background-color:#0A112F;
    color: white;
    width: 113px;
    height: 40px;
    border-radius: 100px
}
.clientAndBtn {
    display:flex;
    align-items: center;
    gap: 10px;
}
.date {
    font-family: 'TT Hoves medium';
}

/*text second slide*/

.quick {
    padding: 24px;
    border-radius: 16px;
    /* border: 1px solid #E7EAEE; */
    width: calc(17.3vw + 282px); /*532 - 350*/
    height: 264px;
    font-family: 'TT Hoves medium';
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.quick_title {
    font-size: calc(0.6vw + 11.7px); /*20 - 14*/
}
.first_quick {
    display: flex;
    flex-direction: column;
    gap: calc(1vw + 0.9px); /*16 - 5*/
}
.linkBold {
    font-size: calc(0.6vw + 11.7px); /*20 - 14*/
    letter-spacing: -1%;
}
.link {
    font-size: calc(0.6vw + 11.7px); /*20 - 14*/
    letter-spacing: -1%;
    opacity: 50%;
}
.invopay {
    display: flex;
    justify-content: space-between;
}
.text {
    background-color: #F7F8FB;
    border-radius: 16px;
    padding: calc(0.8vw + 13px); /*24 - 16*/
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.text p {
    color: #627188;
    font-family: 'TT Hoves regular';
}
.text span {
    color: #3981F7;
}

/*seventh screen*/

.seventh_screen {
    padding-top: calc(5.7vw + 37.7px); /*120 - 60*/
    padding-bottom: calc(5.7vw + 37.7px); /*120 - 60*/
    padding-left: calc(24.8vw + -76.5px); /*280 - 20*/
    padding-right: calc(24.8vw + -76.5px); /*280 - 20*/
}
.love_full {
    box-shadow: 0px 36px 52px 0px #00000008;
    border-radius: 24px;
    padding: calc(5.1vw + -10px) calc(6.5vw + -5.2px) calc(6.6vw + -1.6px); /*64 - 10*/ /*88 - 20*/ /*93 - 24*/
}
.autonomyAndImg {
    padding: 40px 80px;
    box-shadow: 0px 36px 52px 0px #00000008;
    border-radius: 16px;
    font-family: 'TT Hoves medium';
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: relative;
}
.title_love {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(0.4vw + 18.5px);  /*24 - 20*/
    margin-bottom: calc(6.5vw + -15.2px); /*78 - 10*/
}
.title_love h2 {
    width: calc(39.2vw + 146.9px); /*712 - 300*/
}
.love_subtitle {
    display: block;
    font-size: calc(0.8vw + 13px) /*24 - 16*/;
    text-align: center;
}
.autonomy {
    width: calc(23.4vw + 208.6px); /*546 - 300*/
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}
.love_location {
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}
.CEO {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #9096A2;
}

.autonomyAndImg img{
    width: 256px;
}
.ellipse {
    width: calc(7.6vw + 50.2px); /*160 - 80*/
    height: calc(7.6vw + 50.2px); /*160 - 80*/
    background-color: #0B0B0C;
    padding: calc(1.7vw + -6.6px) 39px 34px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: calc(-11.2vw + -6.1px); /*-168 - -50*/
    top: calc(-3.8vw + -25.1px);
}
.kavichki {
    font-family: "Montserrat", sans-serif;
    color: white;
    letter-spacing: -2%;
    font-weight: 600;
    font-size: calc(7.6vw + 50.2px); /*160 - 80*/
    line-height: calc(7.6vw + 90.2px); /*200 -120*/
    align-items: center;
}

/*eighth screen*/
.eighth_screen {
    padding-top: calc(5.7vw + 37.7px); /*120 - 60*/
    padding-bottom: calc(5.7vw + 37.7px); /*120 - 60*/
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: calc(1vw + 26.2px); /*40 - 30*/
}
.Today_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(0.4vw + 18.5px);  /*24 - 20*/
}
.create {
    background-color: #0A112F;
    color: white;
    width: calc(5.7vw + 157.7px); /*240 - 180*/
    height: calc(1.9vw + 52.5px); /*80 - 60*/
    border-radius: 100px;
    font-size: calc(0.4vw + 18.5px);  /*24 - 20*/
}

/*footer*/

.footer_list {
    display: grid;
    grid-template-columns: repeat(5, calc(8vw + 84.8px));
    column-gap: calc(1.5vw + -5.9px);
    grid-template-areas: 
        "Logo HowWork Company Solution Resources";
}

#logo_footer {
    grid-area: Logo;
}

.howWork_list {
    grid-area: HowWork;
}

.company_footer_list {
    grid-area: Company;
}

.solution_list {
    grid-area: Solution;
}

.resources_list {
    grid-area: Resources;
}

footer {
    padding-left: calc(16.2vw + -43.1px); /*190 - 20*/
    padding-right: calc(15.4vw + -40.1px); /*182 - 20*/
}

.footer_list li {
    font-family: 'TT Hoves medium';
    font-size: 16px;
    color: #9096A2;
    margin-bottom: 16px;
    list-style: none;
}

.footer_list li:first-child {
    font-family: 'TT Hoves demibold';
    color: #0A112F;
    font-size: 18px;
}

.smth {
    font-family: 'TT Hoves regular';
    color: #9096A2;
    font-size: 16px;
    display: flex;
    gap: calc(2.1vw + 1.8px); /*32 -10*/
}

.footer_img {
    display: flex;
    gap: calc(1.3vw + 4.8px); /*24 - 10*/
}

.final_part {
    margin-top: calc(9.2vw + -17.8px); /*122 - 20*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: calc(32.4vw + -116px);
}

@media (max-width: 1100px) {
    .footer_list {
        grid-template-columns: repeat(4, calc(8vw + 84.8px));
        grid-template-rows: auto auto;
        grid-template-areas: 
            "Logo HowWork Company"
            "Logo Solution Resources";
        gap: 10px;
    }
}
@media (max-width: 800px) {
    .flag {
        display: none;
    }
    .full_card {
        position: static;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .fifth_screen {
        padding-bottom: calc(5.7vw + 37.7px); /*120 - 60*/
    }
}
@media (max-width: 1000px) {
    .menu {
        display: none;
    }
    .learn_header {
        display: none;
    }
    nav {
        display: block;
    }
    .final_part {
        gap: 20px;
    }
}
